# Object files
*.o
*.ko

# Libraries
*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.swp
*.cfg

.autotools
.cproject
.project
.settings/
.DS_Store
.idea/

CMD_Application
